/* Generic starter basestyles */
html {

}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: ;
}
h1, h2, h3, h4 {

}
p {
  margin-top: 0;
}
ul {

}
a {

}
a:visited {
}
a:hover, a:focus {
  text-decoration: underline;
}
a:active {
}

img {
  max-width: 100%;
  height: auto;
}

.page-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 70px 300px 50px 200px 70px;
  grid-template-areas: "header header header header"
                       "results product-1 product-2 product-3"
                       "results . . ."
                       "results text text text"
                       "footer footer footer footer";
  margin: 0 auto;
  width: 90%;
  align-items: start;
}
header {
  grid-area: header;
}
#results {
  grid-area: results;
}
#product-1 {
  grid-area: product-1;
}

#product-2 {
  grid-area: product-2;
}

#product-3 {
  grid-area: product-3;
}
#text {
  grid-area: text;
}
footer {
  grid-area: footer;
}
